body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.principal{
    text-align: center;
    align-items: center;
}

.principal h3{
    padding: 50px;
}

.botao{
    padding: 10px;
}