body, html {
    height: 100%;
}
th, tr, td, table{
    border: 0.0001px solid black;
    border-spacing: 0px;
    text-align: center;
}

table{
    align-items: center;
}


.t1{
    width: 626.645px;
    background-color: #c2d69b;
}
.c1{
    width: 179.15px;
}

.t2{
    width: 693.165px;
    background-color: #c2d69b;
}
.c2-1{
    width: 264.94488px;
    background-color: #c2d69b;
}
.c2-2{
    width: 288px;
    background-color: #c2d69b;
}
.c2-3{
    width: 139.464566px;
    background-color: #c2d69b;
}
.c3-1, .c3-2{
    width: 345.826771px;
}