body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    /**background-color: green;*/
}


.box {display: inline-block;}

.principal{
    text-align: center;
    align-items: center;
}
.principal h3{
    padding: 50px;
}

.principal h1{
    color: white;
    background-color: green;
}

.cliente {
    width: 100%;
}
 
.item{
    margin-left: 1%;
    width: 350px;
}

.ender{
    width: 500px;
}
.obs{
    width: 80%;
    display: inline-block;
    text-align: center;
}
